<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Video Spot -{mailer_month}{year} Blu-Ray and DVD Releases</title>

<style type="text/css">
<!--
body {
	background-color: #000;
}
a {
	text-decoration:none;
}

img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
-->
</style></head>

<body style="background-color: #000;">
<table width="716" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000">
  <tr>
    <td height="20"><span style="font-family: Arial, Helvetica, sans-serif;	font-size: 11px; color: #919191;
	text-decoration: none;">Date: {mailer_month} {year}. No.21</span></td>
    <td align="right"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #919191;
	text-decoration: none;">Having difficulty viewing this message?</span> <a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color:#e67817; text-decoration:none;" href="http://www.videospot.co.za/mailers/2014/october/">Click here</a></td>
  </tr>
  <tr>
    <td height="75" colspan="2"><img src="http://www.soitesting.co.za/video_spot/Images/vs_mailer_logo.gif" width="716" height="76" alt="Logo" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><table style=" border:solid 1px; color:#6e6e6e" width="698" cellspacing="0" cellpadding="6">
      <tr>
        <td><table width="698" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2"><a href="http://www.videospot.co.za/?pg=24&p_id=14288&quick=&crit="><img src="{banner_link}" alt="Homeland Season 3" width="698" height="261" /></a></td>
          </tr>
          <tr>
            <td colspan="2" height="7"></td>
          </tr>
          <tr>
            <td colspan="2"><img src="http://www.videospot.co.za/mailers/2014/october/images/dvd_heading.jpg" width="698" height="38" /></td>
          </tr>
          <tr>
            <td colspan="2" align="center"><table width="680" cellspacing="10" cellpadding="0">
              <tr>
                <td width="75"><a href="{dvd_info_link_1}"><img src="{dvd_image_link_1}" alt="{dvd_name_1}" width="75" height="105" border="0" /></a></td>
                <td width="75"><a href="{dvd_info_link_2}"><img src="{dvd_image_link_2}" alt="{dvd_name_2}" width="75" height="105" /></a></td>
                <td width="75"><a href="{dvd_info_link_3}"><img src="{dvd_image_link_3}" alt="{dvd_name_3}" width="75" height="105" /></a></td>
                <td width="75"><a href="{dvd_info_link_4}"><img src="{dvd_image_link_4}" alt="{dvd_name_4}" width="75" height="105" /></a></td>
                <td width="75"><a href="{dvd_info_link_5}"><img src="{dvd_image_link_5}" alt="{dvd_name_5}" width="75" height="105" /></a></td>
                <td width="75"><a href="{dvd_info_link_6}"><img src="{dvd_image_link_6}" alt="{dvd_name_6}" width="75" height="105" /></a></td>
                <td width="75"><a href="{dvd_info_link_7}"><img src="{dvd_image_link_7}" alt="{dvd_name_7}" width="75" height="105" /></a></td>
                <td width="63"><a href="{dvd_info_link_8}"><img src="{dvd_image_link_8}" width="75" height="105" alt="{dvd_name_8}" /></a></td>
              </tr>
              <tr>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="{dvd_info_link_1}">{dvd_name_1}</a></td>
                <td align="center"><p><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="{dvd_info_link_2}">{dvd_name_2}</a></p></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="{dvd_info_link_3}">{dvd_name_3}</a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="{dvd_info_link_4}" >{dvd_name_4}</a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="{dvd_info_link_5}" >{dvd_name_5}</a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="{dvd_info_link_6}">{dvd_name_6}</a></td>
                <td align="center"> <a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;"  href="{dvd_info_link_7}">{dvd_name_7}</a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="{dvd_info_link_8}">{dvd_name_8}</a></td>
              </tr>
              <tr>
                <td><a href="{dvd_info_link_9}"><img src="{dvd_image_link_9}" width="75" height="105" alt="{dvd_name_9}" /></a></td>
                <td><a href="{dvd_info_link_10}"><img src="{dvd_image_link_10}" width="75" height="105" alt="{dvd_name_10}" /></a></td>
                <td><a href="{dvd_info_link_11}"><img src="{dvd_image_link_11}" width="75" height="105" alt="{dvd_name_11}" /></a></td>
                <td><a href="{dvd_info_link_12}"><img src="{dvd_image_link_12}" alt="{dvd_name_12}" width="75" height="105" /></a></td>
                <td><a href="{dvd_info_link_13}"><img src="{dvd_image_link_13}" alt="{dvd_name_13}" width="75" height="105" /></a></td>
                <td><a href="{dvd_info_link_14}"><img src="{dvd_image_link_14}" alt="{dvd_name_14}" width="75" height="105" /></a></td>
                <td><a href="{dvd_info_link_15}"><img src="{dvd_image_link_15}" width="75" height="105" alt="{dvd_name_15}" /></a></td>
                <td><a href="{dvd_info_link_16}"><img src="{dvd_image_link_16}" width="75" height="105" alt="{dvd_name_16}" /></a></td>
              </tr>
              <tr>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="{dvd_info_link_9}">{dvd_name_9}</a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="{dvd_info_link_10}">{dvd_name_10}</a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="{dvd_info_link_11}">{dvd_name_11}</a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="{dvd_info_link_12}">{dvd_name_12}</a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="{dvd_info_link_13}">{dvd_name_13}</a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="{dvd_info_link_14}">{dvd_name_14}</a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="{dvd_info_link_15}">{dvd_name_15}</a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="{dvd_info_link_16}">{dvd_name_16}</a></td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td colspan="2"><a href="http://www.videospot.co.za/?pg=24&amp;where=latest"><img src="http://soitesting.co.za/video_spot/Html/2013/February/images/vs_mailer_dvd_but.gif" width="698" height="26" alt="dvd-button" title="View full DVD Range" /></a></td>
          </tr>
          <tr>
            <td height="21" colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2"><img src="http://www.videospot.co.za/mailers/2014/october/images/bluray_heading.jpg" width="698" height="38" /></td>
          </tr>
          <tr>
            <td colspan="2" align="center"><table width="680" cellspacing="10" cellpadding="0">
              <tr>
                <td width="75"><a href="http://videospot.co.za/?pg=24&p_id=14287&quick=titl&crit=the%20railway%20man"><img src="http://www.videospot.co.za/mailers/2014/october/images/the_railway_man_bluray.jpg" width="75" height="105" alt="THE RAILWAY MAN" /></a></td>
                <td width="75"><a href="http://videospot.co.za/?pg=24&p_id=14254&quick=titl&crit=transcendence"><img src="http://www.videospot.co.za/mailers/2014/october/images/transcendence_bluray.jpg" width="75" height="105" alt="TRANSCENDENCE" /></a></td>
                <td width="75"><a href="http://videospot.co.za/?pg=24&p_id=14255&quick=titl&crit=blended"><img src="http://www.videospot.co.za/mailers/2014/october/images/blended_bluray.jpg" width="75" height="105" alt="BLENDED" /></a></td>
                <td width="75"><a href="http://videospot.co.za/?pg=24&p_id=14289&quick=titl&crit=the%20necessary%20death%20of%20charlie%20countryman"><img src="http://www.videospot.co.za/mailers/2014/october/images/charlie_countryman_bluray.jpg" alt="THE NECESSARY DEATH OF CHARLIE COUNTRYMAN" width="75" height="105" /></a></td>
                <td width="75"><a href="http://videospot.co.za/?pg=24&p_id=14276&quick=titl&crit=locke"><img src="http://www.videospot.co.za/mailers/2014/october/images/locke_bluray.jpg" width="75" height="105" alt="LOCKE" /></a></td>
                <td width="75"><a href="http://videospot.co.za/?pg=24&p_id=14277&quick=titl&crit=maleficents"><img src="http://www.videospot.co.za/mailers/2014/october/images/maleficent_bluray.jpg" width="75" height="105" alt="MALEFICENT" /></a></td>
                <td width="75"><a href="http://videospot.co.za/?pg=24&p_id=14278&quick=titl&crit=24:%20live%20another%20day"><img src="http://www.videospot.co.za/mailers/2014/october/images/24_live_another_day_bluray.jpg" width="75" height="105" alt="24: LIVE ANOTHER DAY" /></a></td>
                <td width="63"><a href="http://videospot.co.za/?pg=24&p_id=14230&quick=titl&crit=lone%20survivor"><img src="http://www.videospot.co.za/mailers/2014/october/images/lone_survivor_bluray.jpg" width="75" height="105" alt="LONE SURVIVOR" /></a></td>
              </tr>
              <tr>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://videospot.co.za/?pg=24&p_id=14287&quick=titl&crit=the%20railway%20man">THE RAILWAY MAN</a><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=13618&quick=titl&crit=the%20words"></a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://videospot.co.za/?pg=24&p_id=14254&quick=titl&crit=transcendence">TRANSCENDENCE</a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://videospot.co.za/?pg=24&p_id=14255&quick=titl&crit=blended">BLENDED</a><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=13588&quick=titl&crit=silver"></a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://videospot.co.za/?pg=24&p_id=14289&quick=titl&crit=the%20necessary%20death%20of%20charlie%20countryman">THE NECESSARY DEATH OF CHARLIE COUNTRYMAN</a><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=13594&quick=titl&crit=Parker"></a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://videospot.co.za/?pg=24&p_id=14276&quick=titl&crit=locke">LOCKE</a><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&amp;p_id=13636&amp;quick=&amp;crit="></a><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=13596&quick=titl&crit=good%20day%20to%20die%20hard"></a>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://videospot.co.za/?pg=24&p_id=14277&quick=titl&crit=maleficent">MALEFICENT</a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://videospot.co.za/?pg=24&p_id=14278&quick=titl&crit=24:%20live%20another%20day">24: LIVE ANOTHER DAY</a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://videospot.co.za/?pg=24&p_id=14230&quick=titl&crit=lone%20survivor">LONE SURVIVOR</a><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&amp;p_id=13642&amp;quick=&amp;crit="></a><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=13603&quick=titl&crit=wonderstone"></a></td>
              </tr>
              <tr>
                <td><a href="http://www.videospot.co.za/?pg=24&p_id=14279&quick=titl&crit=le%20week-end"><img src="http://www.videospot.co.za/mailers/2014/october/images/le_weeken_bluray.jpg" width="75" height="105" alt="LE WEEKEND" /></a></td>
                <td><a href="http://www.videospot.co.za/?pg=24&p_id=14280&quick=titl&crit=nebraska"><img src="http://www.videospot.co.za/mailers/2014/october/images/nebraska_bluray.jpg" width="75" height="105" alt="NEBRASKA" /></a></td>
                <td><a href="http://www.videospot.co.za/?pg=24&p_id=14281&quick=titl&crit=stalingrad%202014"><img src="http://www.videospot.co.za/mailers/2014/october/images/stalingrad_2014_bluray.jpg" width="75" height="105" alt="STALINGARD 2014" /></a></td>
                <td><a href="http://www.videospot.co.za/?pg=24&p_id=14282&quick=titl&crit=the%20raid%202"><img src="http://www.videospot.co.za/mailers/2014/october/images/the_raid_2_bluray.jpg" width="75" height="105" alt=">THE RAID 2" /></a></td>
                <td><a href="http://www.videospot.co.za/?pg=24&p_id=14283&quick=titl&crit=the%20other%20woman"><img src="http://www.videospot.co.za/mailers/2014/october/images/the_other_woman_bluray.jpg" width="75" height="105" alt="THE OTHER WOMAN" /></a></td>
                <td><a href="http://www.videospot.co.za/?pg=24&p_id=14284&quick=titl&crit=heaven%20is%20for%20real"><img src="http://www.videospot.co.za/mailers/2014/october/images/heaven_is_for_real_bluray.jpg" width="75" height="105" alt="HEAVEN IS FOR REAL" /></a></td>
                <td><a href="http://www.videospot.co.za/?pg=24&p_id=14285&quick=titl&crit=x-men:%20days%20of%20future%20past"><img src="http://www.videospot.co.za/mailers/2014/october/images/xmen_dofp_bluray.jpg" width="75" height="105" alt="X-MEN: DAYS OF FUTURE PAST" /></a></td>
                <td><a href="http://www.videospot.co.za/?pg=24&p_id=14286&quick=titl&crit=fault%20in%20our%20stars"><img src="http://www.videospot.co.za/mailers/2014/october/images/fault_in_our_stars_bluray.jpg" width="75" height="105" alt="FAULT IN OUR STARS" /></a></td>
              </tr>
              <tr>
                <td height="26" align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=14279&quick=titl&crit=le%20week-end">LE WEEKEND</a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=14280&quick=titl&crit=nebraska">NEBRASKA</a><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&amp;p_id=13647&amp;quick=&amp;crit="></a><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=13607&quick=titl&crit=Lincoln"></a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=14281&quick=titl&crit=stalingrad%202014">STALINGARD 2014</a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=14282&quick=titl&crit=the%20raid%202">THE RAID 2 </a><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=13611&quick=titl&crit=quartet"></a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=14283&quick=titl&crit=the%20other%20woman">THE OTHER WOMAN</a><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=13614&quick=titl&crit=anna"></a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=14284&quick=titl&crit=heaven%20is%20for%20real">HEAVEN IS FOR REAL</a><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=13619&quick=titl&crit=the%20samar"></a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=14285&quick=titl&crit=x-men:%20days%20of%20future%20past">X-MEN: DAYS OF FUTURE PAST</a><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=13616&quick=titl&crit=12%20rounds"></a></td>
                <td align="center"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; text-decoration:none;" href="http://www.videospot.co.za/?pg=24&p_id=14286&quick=titl&crit=fault%20in%20our%20stars">FAULT IN OUR STARS</a></td>
                </tr>
            </table>
            </td>
          </tr>
          <tr>
            <td colspan="2"><a href="http://www.videospot.co.za/?pg=25&type=blue"><img src="http://soitesting.co.za/video_spot/Html/2013/February/images/vs_mailer_bluray_but.gif" width="698" height="26" alt="blu-ray-button" title="View full Blu-Ray Range" /></a></td>
          </tr>
          <tr>
            <td height="138" colspan="2" align="center" valign="middle"><img src="http://soitesting.co.za/video_spot/Html/2013/February/images/beds_advert.jpg" width="698" height="116" alt="Bed Advert" title="BEDS at Low Prices 011 781 1394" /></td>
          </tr>
          <!--
          <tr>
            <td colspan="2"><img src="http://soitesting.co.za/video_spot/Html/2013/February/images/vs_mailer_reviews_heading.gif" width="698" height="38" alt="Reviews_Heading" /></td>
          </tr>
          <tr>
            <td colspan="2" align="center"><table width="698" border="0" cellspacing="0" cellpadding="10">
              <tr>
                <td width="100" valign="top"><a href="http://www.videospot.co.za/?pg=24&amp;p_id=13536&amp;quick=titl&amp;crit=beasts"><img src="http://soitesting.co.za/video_spot/Html/2013/May/images/review.jpg" width="118" height="174" alt="Argo Review" /></a></td>
                <td width="558" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #438c0b;">Beasts of the Southern Wild (2013)<img src="http://www.soitesting.co.za/video_spot/Images/5star.gif" width="105" height="17" alt="Rating" title="Rating" />
                  <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;	text-align: justify; color: #FFF;line-height:16px;">Hushpuppy, an intrepid six-year-old girl, lives with her father, Wink, in the Bathtub, a southern Delta community at the edge of the world. Wink's tough love prepares her for the unraveling of the universe; for a time when he's no longer there to protect her. When Wink contracts a mysterious illness, nature flies out of whack, temperatures rise, and the ice caps melt, unleashing an army of prehistoric creatures called aurochs. With the waters rising, the aurochs coming, and Wink's health fading, Hushpuppy goes in search of her lost mother.<br />
<br />
<em>Written by Sundance Film Festival</em></p></td>
              </tr> 
            </table></td>
          </tr> -->
          <tr>
            <td colspan="2"><img src="http://soitesting.co.za/video_spot/Html/2013/February/images/vs_mailer_cs_heading.gif" width="698" height="38" alt="coming-soon" title="Coming Soon and What did you Miss?" /></td>
          </tr>
          <tr>
            <td colspan="2" align="center"><table border="0" cellspacing="10" cellpadding="0">
              <tr>
                <td width="165" align="left"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #b01e15; text-decoration:none;" href="http://www.videospot.co.za/?pg=26&p_id=14248&quick=&crit=">Cougar Town: Season 4</a></td>
                <td width="165" align="left"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #b01e15; text-decoration:none;" href="http://www.videospot.co.za/?pg=26&p_id=14238&quick=&crit=">DCU: Son of Batman</a></td>
                <td width="165" align="left"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #1d96fc; text-decoration:none;" href="http://www.videospot.co.za/?pg=31&p_id=14176&quick=&crit=">Falling Skies 3</a></td>
                <td width="165" align="left"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #1d96fc; text-decoration:none;" href="http://www.videospot.co.za/?pg=31&p_id=14155&quick=&crit=">Hercules</a></td>
              </tr>
              <tr>
                <td width="165" align="left"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #b01e15; text-decoration:none;" href="http://www.videospot.co.za/?pg=26&p_id=14249&quick=&crit=">Greys Anatomy: Season 10</a></td>
                <td width="165" align="left"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #b01e15; text-decoration:none;" href="http://www.videospot.co.za/?pg=26&p_id=14239&quick=&crit=">Hateship, Loveship</a></td>
                <td width="165" align="left"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #1d96fc; text-decoration:none;" href="http://www.videospot.co.za/?pg=31&p_id=14169&quick=&crit=">American Hustle</a></td>
                <td width="165" align="left"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #1d96fc; text-decoration:none;" href="http://www.videospot.co.za/?pg=31&p_id=14193&quick=&crit=">Captain America</a></td>
              </tr>
              <tr>
                <td width="165" align="left"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #b01e15; text-decoration:none;" href="http://www.videospot.co.za/?pg=26&p_id=14251&quick=&crit=">In Secret A.K.A Therese</a></td>
                <td width="165" align="left"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #b01e15; text-decoration:none;" href="http://www.videospot.co.za/?pg=26&p_id=14290&quick=&crit=">Legend Of Korra Book 2: Spirits</a></td>
                <td width="165" align="left"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #1d96fc; text-decoration:none;" href="http://www.videospot.co.za/?pg=31&p_id=14162&quick=&crit=">Hours</a></td>
                <td width="165" align="left"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #1d96fc; text-decoration:none;" href="http://www.videospot.co.za/?pg=31&p_id=14143&quick=&crit=">300: Rise Of An Empire</a></td>
              </tr>
              <tr>
                <td width="165" align="left"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #b01e15; text-decoration:none;" href="http://www.videospot.co.za/?pg=26"><b><u>View All Coming Soon Titles</u></b></a></td>
                <td width="165">&nbsp;</td>
                <td width="165" align="left"><a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #1d96fc; text-decoration:none;" href="http://www.videospot.co.za/?pg=31"><b><u>View All What Did I Miss</u></b></a></td>
                <td width="165">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td colspan="2"><img src="http://soitesting.co.za/video_spot/Html/2013/February/images/vs_mailer_brands_a.gif" width="698" height="101" alt="Brands" title="Brands Logos" /></td>
          </tr>
          <tr>
            <td align="left"><a href="http://www.videospot.co.za"><img src="http://soitesting.co.za/video_spot/Html/2013/February/images/vs_mailer_website_but.gif" width="350" height="87" alt="Video Spot Website" title="Visit Video Spot Website" /></a></td>
            <td><a href="http://www.videospot.co.za/?pg=24&where=latest"><img src="http://soitesting.co.za/video_spot/Html/2013/February/images/dvd_advert.jpg" width="348" height="87" alt="1000's of Titles to Choose from" title="1000's of Titles to Choose from" /></a></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="50" colspan="2" align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #919191; text-decoration: none;">Copyright © 2013 VideoSpot. All Rights Reserved. <a style="font-family: Arial, Helvetica, sans-serif;	font-size: 11px; color: #919191; text-decoration: none;" href="http://www.videospot.co.za/?pg=14">Terms and Conditions</a> | <a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #919191; text-decoration: none;" href="http://www.videospot.co.za/?pg=15">Privacy Policy</a> | <a style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #919191; text-decoration: none;" href="http://www.videospot.co.za/?pg=58">Disclaimer</a><br/>All Titles are subject to availability from certain stores</td>
  </tr>
</table>
</body>
</html>
